<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css"/>
</head>
<body>
    <div id="cointainer">
        <div class="rectangle">
            <h1>Historia</h1>
            
        </div>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
        </nav>

            <ul>
        {% for element in context.historia %}
                <li>{{ element }}</li>
                {% endfor %}
            </ul>
    </div>
    
</body>
</html>