body{
    background-color: #ebebe3;
    color: #2b2b28;
}
.red{
    color: red;
}

#cointainer{
    width:1000px;
    margin-left: 100px;
    margin-right: auto;
}

.rectangle{
    width: 1000px;
    display: flex;
    justify-content: center;
}

.square{
    width: 33%;
    float: left;
}